{% extends 'base.html' %}

{% block title %}
Register
{% endblock %}


{% block content %}
<div class="container" style="max-width: 600px">
    <br>
    <form methog="POST" class="form-register" style="color:#f1f1f1">
        {{ form.hidden_tag() }}
        <img class="mb-4" src="{{ url_for('static', filename='phone_store.png') }}" alt="phone" style="width: 170px; height: auto; border-radius: 50%">
        <h1 class="h3 mb-3 font-weight-normal">
            Create Account
        </h1>
        {{ form.username.label() }}
        {{ form.username(class='form-control', placeholder='Username') }}

        {{ form.email.label() }}
        {{ form.email(class='form-control', placeholder='Email') }}

        {{ form.password1.label() }}
        {{ form.password1(class='form-control', placeholder='Password') }}

        {{ form.password2.label() }}
        {{ form.password2(class='form-control', placeholder='Confirm Password') }}
        <br>
        {{ form.submit(class='btn btn-md btn-outline-light') }}
    </form>
</div>
{% endblock %}
